
services:
  api:
    build: .
    container_name: flask_events_api
    command: ["./wait-for-db.sh", "db", "flask", "run", "--host=0.0.0.0", "--port=8000"]
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=${FLASK_ENV:-development}
      - FLASK_DEBUG=1
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
    depends_on:
      - db
      - redis

  worker:
    build: .
    container_name: flask_events_worker
    command: ["./wait-for-db.sh", "db", "celery", "-A", "app.celery", "worker", "--loglevel=info"]
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  db:
    image: postgis/postgis:15-3.4
    container_name: flask_events_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: events_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: flask_events_redis
    ports:
      - "6379:6379"